*.o
*.d
*.elf
*.hex
*.lss
*.sym
*.map
*.eep
a.out
tags
*.jou
*.pb
*.bat
*.log
*.rpt
*.rpx
*.xml
*.wdf
*.txt
*.sh
*.rst
*.tcl
*.vdi
*.dcp
*.js
*.cache/
*.ip_user_files/
*.runs/
*.hw/
/microfw/CW310/Debug/*.eep
/microfw/CW310/Debug/*.elf
/microfw/CW310/Debug/*.hex
/microfw/CW310/Debug/*.lss
/microfw/CW310/Debug/*.map
/microfw/CW310/Debug/*.srec
**/.vscode/**
